# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Node.js
node_modules/

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Project
target/

# Intellij
.idea/
*.iml

# jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# My configurations:
# .gitignore
db.ini
deploy_key_rsa

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
