<div class="row">

    <div class="col-md-9">

        <!-- Blog list -->
        <ul id="posts-list">
            {% for post in site.posts %}
                {% if post.category == 'arch' %}
                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                        <a class="posts-list-name bubble-float-left" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        <span class='circle'></span>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Pagination -->
        {% include pagination.html %}

        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>

    </div>

    <!--先disable，顯示tag統計用，因為沒有排除category類別，如果以後需要用到再改寫-->

<!--    <div class="col-md-3">-->
<!--        {% include sidebar-post-tag.html %}-->
<!--    </div>-->

</div>
<script>
    $(document).ready(function () {

        // Enable bootstrap tooltip
        $("body").tooltip({selector: '[data-toggle=tooltip]'});

    });
</script>