---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <img src="https://www.hauchenglee.com/assets/images/404.jpg" alt="404.jpg">

  <p><strong>Page not found :(</strong></p>
  <p>Try to check other pages through the menu. </p>
  <h2><a href="/"><span style="color:#00FF00">Click me</span></a> to return home</h2>
</div>
